<a href="https://colab.research.google.com/github/Netmalware/projeto-db-colab/blob/main/Projeto-BD-SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# PROJETO-BD-SQLITE.ipynb
# ======================================================
# Seção 1: Importar bibliotecas e conectar ao banco de dados
import sqlite3

# Conecta ao banco de dados em memória (pode trocar por 'meubanco.db' se quiser salvar em arquivo)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Ativa as restrições de chave estrangeira
cursor.execute("PRAGMA foreign_keys = ON;")

# ======================================================
# Seção 2: Criação das tabelas

# Tabela pessoas
cursor.execute('''
CREATE TABLE IF NOT EXISTS pessoas (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    idade INTEGER
);
''')

# Tabela produtos
cursor.execute('''
CREATE TABLE IF NOT EXISTS produtos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    descricao TEXT NOT NULL,
    estoque INTEGER,
    preco REAL
);
''')

# Tabela vendas
cursor.execute('''
CREATE TABLE IF NOT EXISTS vendas (
    id_venda INTEGER PRIMARY KEY AUTOINCREMENT,
    id_pessoa INTEGER,
    id_produto INTEGER,
    quantidade INTEGER,
    FOREIGN KEY (id_pessoa) REFERENCES pessoas(id),
    FOREIGN KEY (id_produto) REFERENCES produtos(id)
);
''')

conn.commit()

# ======================================================
# Seção 3: Inserção de dados

# Inserindo pessoas
cursor.execute("INSERT INTO pessoas (nome, idade) VALUES ('Maria', 30);")
cursor.execute("INSERT INTO pessoas (nome, idade) VALUES ('João', 25);")
cursor.execute("INSERT INTO pessoas (nome, idade) VALUES ('Ana', 40);")

# Inserindo produtos
cursor.execute("INSERT INTO produtos (descricao, estoque, preco) VALUES ('Caneta', 100, 1.50);")
cursor.execute("INSERT INTO produtos (descricao, estoque, preco) VALUES ('Caderno', 50, 6.50);")

conn.commit()

# ======================================================
# Seção 4: Inserção de vendas e consultas

# Inserindo vendas
cursor.execute("INSERT INTO vendas (id_pessoa, id_produto, quantidade) VALUES (1, 1, 10);")  # Maria comprou 10 canetas
cursor.execute("INSERT INTO vendas (id_pessoa, id_produto, quantidade) VALUES (2, 2, 2);")   # João comprou 2 cadernos

conn.commit()

# Consulta com JOIN entre pessoas, produtos e vendas
cursor.execute('''
SELECT v.id_venda, p.nome AS pessoa, pr.descricao AS produto, v.quantidade
FROM vendas v
JOIN pessoas p ON v.id_pessoa = p.id
JOIN produtos pr ON v.id_produto = pr.id;
''')

# Exibindo os resultados
resultados = cursor.fetchall()
for linha in resultados:
    print(linha)

# ======================================================
# Seção 5: Encerramento

# Fechando a conexão com o banco
conn.close()

(1, 'Maria', 'Caneta', 10)
(2, 'João', 'Caderno', 2)