<a href="https://colab.research.google.com/github/Netmalware/projeto-db-colab/blob/main/Projeto-BD-SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

# Conectar (em memória ou arquivo .db)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Ativar chaves estrangeiras
cursor.execute("PRAGMA foreign_keys = ON;")

cursor.execute('''
CREATE TABLE IF NOT EXISTS pessoas (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  nome TEXT NOT NULL,
  idade INTEGER
);
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS produtos (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  descricao TEXT NOT NULL,
  estoque INTEGER,
  preco REAL
);
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS vendas (
  id_venda INTEGER PRIMARY KEY AUTOINCREMENT,
  id_pessoa INTEGER,
  id_produto INTEGER,
  quantidade INTEGER,
  FOREIGN KEY (id_pessoa) REFERENCES pessoas(id),
  FOREIGN KEY (id_produto) REFERENCES produtos(id)
);
''')

conn.commit()

cursor.execute("INSERT INTO pessoas (nome, idade) VALUES ('Maria', 30);")
cursor.execute("INSERT INTO pessoas (nome, idade) VALUES ('João', 25);")
cursor.execute("INSERT INTO pessoas (nome, idade) VALUES ('Ana', 40);")

cursor.execute("INSERT INTO produtos (descricao, estoque, preco) VALUES ('Caneta', 100, 1.50);")
cursor.execute("INSERT INTO produtos (descricao, estoque, preco) VALUES ('Caderno', 50, 6.50);")

conn.commit()

cursor.execute("INSERT INTO vendas (id_pessoa, id_produto, quantidade) VALUES (1, 1, 10);")
cursor.execute("INSERT INTO vendas (id_pessoa, id_produto, quantidade) VALUES (2, 2, 2);")

conn.commit()

cursor.execute('''
SELECT v.id_venda, p.nome, pr.descricao, v.quantidade
FROM vendas v
JOIN pessoas p ON v.id_pessoa = p.id
JOIN produtos pr ON v.id_produto = pr.id;
''')

resultados = cursor.fetchall()
for linha in resultados:
    print(linha)

conn.close()

(1, 'Maria', 'Caneta', 10)
(2, 'João', 'Caderno', 2)